<h1>Burger Time</h1>
<!-- burgers list -->
<div class="burgerslist">
  <!-- uneaten bugers -->
  <div class="burgers">
    <h3>Uneaten</h3>
    {{#each burgers}}
      {{#unless devoured}}
        <p>{{burger_name}} <button type="submit" class="eat" name="{{id}}">Eat it!</button></p>

      {{/unless}}
    {{/each}}
  </div>

  <!-- eaten burgers -->
  <div class="burgers">
    <h3>Eaten</h3>
    {{#each burgers}}
      {{#if devoured}}
        <p>{{burger_name}}</p>
      {{/if}}
    {{/each}}
  </div>
</div>

<!-- new burger submit box -->
  <div class="newburger">
    <h3>Add a Burger</h3>
    <form class="add-new" action="/api/burgers" method="post">
      <textarea name="burger_name" rows="8" cols="50" placeholder="Enter Burger Here!"></textarea>
      <br>
      <button type="submit" name="button">Submit</button>
    </form>
  </div>
